/* Mobile */

@media(max-width: 767px){
    .terms-box{
      display: block;
      margin-bottom: 100px;
    }
  }

@media(max-width: 540px){
    .terms-container {
        padding: 0 10px 0 20px;
    }
    .terms-container h1 {
        text-align: center;
        font-size: 1.6rem;
    } 
    .terms-container p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .terms-box{
        display: block;
    }
    .home-button{
        margin-bottom: 50px;
    }
}