.terms-body{
    background-color: #e4e7ea;
    display: flex;
    justify-content: center; 
    line-height: 24px;
  }
  .terms-body button{
      outline: none;
      border: none;
      background: none;
      padding: 0;
  }
  .terms-box__button-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .terms-body a{
    display: block;
    word-wrap: break-word;
    max-width: fit-content;
    font-size: 14px;
  }
  
  .terms-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      height: 120px;
  }
  .terms-box__button a{
      display: inline-block;
      padding: 10px 12px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
  }
  .terms-box__button a:hover{
      background-color: #0056b3;
  }
  .terms-box h1{
      margin: 0 auto;
  }

  
  
  .terms-container {
    max-width: 1030px;
    width: 100%;
    margin: 30px auto;
    padding: 0 40px;
    color: black;
  }
  
  .terms-container h1 {
    text-align: center;
    font-size: 2.4rem;
    padding: 30px 0;
    font-weight: bold;
  }
  .terms-container h2 {
    font-size: 1.6rem;
  }
  .terms__strong-h2{
    font-weight: 900;
  }
  .terms-container h5{
      margin-bottom: 0;
      margin-top: 10px;
    }
    
  .terms-container p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
    
  .home-button:hover {
    background-color: #0056b3;
    color: #fff;
  }
  